/* Common styles for the body */
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Dark theme styles */
body.dark {
  background-image: url(../media/dark/background.jpg);
  cursor: url("../media/cursor/red-saber.png") 16 16, auto;
}

/* Light theme styles */
body.light {
  background-image: url(../media/light/background.jpeg);
  cursor: url("../media/cursor/green-saber.png") 16 16, auto;
}

.buttons {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-left: 40px;
  width: 200px;
}

.subject img {
  margin-bottom: 10px;
  /* Add space between the droids */
}

.subject img:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.5);
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
}

.popup-content {
  max-width: 60%;
  max-height: 90%;
  object-fit: contain;
  /* Ensures the image scales properly */
}

.popup-text {
  max-width: 20%;
  max-height: 120%;
  margin-left: 20px;
  color: rgb(11, 155, 199);
  /* Text color */
  border: solid 2px;
  border-radius: 3px;
  border-color: rgb(11, 155, 199);
  background-color: black;
}

.dark-popup-text {
  max-width: 20%;
  max-height: 120%;
  margin-left: 20px;
  color: rgb(207, 11, 11);
  /* Text color */
  border: solid 2px;
  border-radius: 3px;
  border-color: rgb(207, 11, 11);
  background-color: black;
}

#close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.home {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.home img:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.5);
}
